html {
  font-size: 20px;
}
body {
  font-size: 16px;
}
.kind-layout {
  max-width: 750px;
  min-width: 320px;
  overflow: hidden;
  height: 50rem /* 1000/20 */;
}
.kind-layout .kind-header {
  position: fixed;
  z-index: 9999;
  max-width: 750px;
  min-width: 320px;
  background-color: #3496E1;
  text-align: center;
  color: #fff;
  font-size: 1.5rem /* 30/20 */;
  width: 100%;
  height: 4rem /* 80/20 */;
  line-height: 4rem /* 80/20 */;
}
.kind-layout .kind-banner {
  width: 100%;
  padding-top: 4rem /* 80/20 */;
}
.kind-layout .kind-banner .swiper-container {
  z-index: 0;
}
.kind-layout .kind-banner .swiper-container img {
  width: 100%;
}
.kind-layout .kind-nav {
  width: 100%;
  height: 22.5rem /* 450/20 */;
  padding-top: 40px;
}
.kind-layout .kind-nav ul li {
  float: left;
  width: 25%;
  height: 7.5rem /* 150/20 */;
  text-align: center;
}
.kind-layout .kind-nav ul li img {
  width: 50%;
}
.kind-layout .kind-nav ul li a {
  display: block;
}
.kind-layout .kind-footer {
  max-width: 750px;
  min-width: 320px;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 5rem /* 100/20 */;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.kind-layout .kind-footer ul li {
  width: 20%;
  height: 4rem /* 80/20 */;
  float: left;
  text-align: center;
  background-color: #fff;
  line-height: 4rem /* 80/20 */;
}
.kind-layout .kind-footer ul li p {
  margin-top: -2.5rem /* 50/20 */;
}
